<!DOCTYPE html>
<html lang="en">
{{template "head_block.tmpl" .}}
<body class="body-style">
{{template "header_block.tmpl" .}}
<div class="layui-main">
    <div class="content">
        <h2>关于</h2>
        <span class="date">发布于 2018/07/30</span>
        <div style="padding-top: 50px">
            <h3>Hello World</h3>
            <p>这是关于页面</p>
        </div>
    </div>
{{template "inner_comment_block.tmpl" .}}
</div>
{{template "footer_block.tmpl"}}
</body>
{{template "script_block.tmpl" .}}
</html>