<!DOCTYPE html>
<html lang="en">
{{template "head_block.tmpl" .}}
<body class="body-style">
{{template "header_block.tmpl" .}}
<div class="layui-main">
    <div class="layui-fluid layui-col-space30 layui-clear">
    {{range $x, $y := .List}}
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
            <div class="inner-container">
                <a href="/detail/{{$y.Id}}.html">
                    <div class="image">
                        <img class="show-image" src="{{$y.Picture}}" alt="image"/>
                    </div>
                    <div>
                        <div style="float: left">
                            <span class="article-title textHidden">{{$y.Title}}</span>
                        </div>
                        <div style="float: right;line-height: 40px;">
                            <span class="layui-badge layui-bg-gray"
                                  style="font-size: 16px;text-align: right">{{$y.C.CName}}</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {{else}}
         {{"not row"}}
    {{end}}
    </div>
{{if gt .PAGE_Count 10}}
    <div id="page" style="text-align: center"></div>
{{end}}
</div>
{{template "footer_block.tmpl"}}
{{template "script_block.tmpl" .}}
</body>
</html>