<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/resource/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="/resource/plugins/custom/css/index.css">
    <link rel="icon" href="/img/avatar.png">
    <meta name="keywords" content="博客系统,hhhhh"/>
    <meta name="description" content="博客系统,,hhhhh"/>
</head>