<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/resource/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="/resource/plugins/custom/css/index.css">
    <link rel="icon" href="/img/avatar.png">
</head>