<script src="/resource/plugins/layui/layui.js"></script>
<script>
    layui.use(['element', 'layer', 'laypage', 'util'], function () {
        var element = layui.element;
        var util = layui.util;
        var laypage = layui.laypage;

    {{if .PAGE_Count}}
        laypage.render({
            elem: 'page'
            , count: {{.PAGE_Count}}
            , curr: {{.PAGE_Curr}}
            , jump: function (obj, first) {
                if (!first) {
                    window.location.href = "{{.Url}}.html?cur=" + obj.curr;  //分页跳转
                }
            }
        });
    {{end}}

        //增加固定块
        util.fixbar({
            bar1: true
            , click: function (type) {
                if (type === 'bar1') {
                    window.location.href = '/about.html';
                }
            }
        });
    });
</script>