<div class="layui-header">
    <div class="layui-logo">{{.ConsoleName}}</div>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="/img/avatar.png" class="layui-nav-img">
            {{.UserName}}
            </a>
        </li>
        <li class="layui-nav-item"><a href="javascript:logout();">{{.LogoutName}}</a></li>
    </ul>
</div>