<!DOCTYPE html>
<html lang="en">
{{template "admin_head_block.tmpl" .}}
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
{{template "admin_header_block.tmpl" .}}
{{template "admin_side_block.tmpl" .}}
    <div class="layui-body">
        <div style="padding: 15px;">
            <div id="toolbar">
                <div  style="text-align: right;">
                    <div class="layui-btn-container">
                        <button id="searchBtn" class="layui-btn layui-btn-primary">搜索</button>
                        <button id="addBtn" class="layui-btn">添加</button>
                        <button id="exportBtn" class="layui-btn"><i class="layui-icon">&#xe601;</i></button>
                    </div>
                </div>
            </div>
            <div class="table-show">
                <table id="demo" lay-filter="demo" lay-data="{id: 'demo'}"></table>
            </div>
        </div>
    </div>
{{template "admin_footer_block.tmpl" .}}
</div>
{{template "admin_script_block.tmpl" .}}
<script>
    var grid;
    var selectLineData;
    var popIndex;
    layui.use(['layer', 'table', 'form'], function(){
        $ = layui.jquery;
        layer = layui.layer;
        let form = layui.form;
        let table = layui.table;
        grid = table.render({
            elem: '#demo'
            ,height: 500
            ,url: '/admin/category/list_ajax'
            ,page: true
            ,method: 'post'
            ,cols: [[
                {type:'checkbox'}
                ,{field: 'Id', title: 'ID', width:300}
                ,{field: 'CName', title: '分类名称', width:100}
                ,{field: 'CDescribe', title: '分类说明'}
                ,{field: 'ArticleCount', title: '文章数量', width:90}
                ,{field: 'UpdatedAt', title: '最后更新', sort: true}
                ,{field: 'CreatedAt', title: '创建时间', sort: true}
                ,{fixed: 'right', width:150, align:'center', title: '操作', toolbar: '#barDemo'}
            ]]
            ,where: {
                keyword: ""
            }
        });

        $("#searchBtn").on("click", function () {
            //动态插入搜索框
            var v = $(this)
            var rEle = v.parent().parent()
            if (v.hasClass('layui-btn-primary')) {
                v.removeClass('layui-btn-primary')
                if (rEle !== undefined && rEle.length > 0) {
                    rEle.css('display', 'inline-block')
                    rEle.css('width', '29.8%')
                }
                const tp = '<div class="layui-anim layui-anim-scale" style="text-align: left;display: inline-block;width: 69.8%;">\n' +
                        '                    <input id="searchInput" type="text" name="title" required style="width: 90%;display: inline-block" lay-verify="required" placeholder="please input categoryName、categoryDescribe、id..." autocomplete="off" class="layui-input">\n' +
                        '                    <i id="searchIcon" class="layui-icon" style="display: inline-block;cursor: pointer;font-size: 26px;position: relative;top: 5px;right: 40px">&#xe615;</i>\n' +
                        '                </div>';
                $("#toolbar").prepend(tp)
            }else {
                v.addClass('layui-btn-primary');
                var child = $("#toolbar").find('.layui-anim.layui-anim-scale');
                rEle.css('display', '');
                rEle.css('width', '');
                child.remove()
            }
        });
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            var layEvent = obj.event;
            var tr = obj.tr;
            selectLineData = data;

            if(layEvent === 'detail'){
                //show category message
                layer.open({
                    type: 1,
                    skin: 'layui-layer-rim',
                    area: ['600px', '300px'],
                    content: getPopFormat('show', data.CName, data.CDescribe)
                });
                form.render()
            } else if(layEvent === 'del'){
                layer.confirm('Are you delete ?', function(index){
                    $.ajax({
                        type: 'POST',
                        url: '/admin/category/del_ajax',
                        data: {id: data.Id},
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        async: true,
                        success: function (result, textStatus) {
                            if (result.code != 100) {
                                layer.msg(result.msg)
                            } else if (result.code == 100) {
                                layer.close(index);
                                layer.msg(result.msg, {time: 1500}, function () {
                                    grid.reload({
                                        page: {
                                            curr: 1
                                        }
                                    });
                                });
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.msg('{{.AJAX_ERROR_TIPS_MESSAGE}}')
                        }
                    });
                });
            } else if(layEvent === 'edit'){
                popIndex = layer.open({
                    type: 1,
                    skin: 'layui-layer-rim',
                    area: ['600px', '300px'],
                    content: getPopFormat('edit',data.CName, data.CDescribe)
                });
                form.render();
            }
        });

        form.on('submit(addForm)', function (data) {
            $.ajax({
                type: 'POST',
                url: '/admin/category/add_ajax',
                data: data.field,
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                async: true,
                success: function (result, textStatus) {
                    if (result.code != 100) {
                        layer.msg(result.msg)
                    } else if (result.code == 100) {
                        layer.close(popIndex);
                        layer.msg(result.msg, {time: 1500}, function () {
                            grid.reload({
                                page: {
                                    curr: 1
                                }
                            });
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg('{{.AJAX_ERROR_TIPS_MESSAGE}}')
                }
            })
            return false;
        });

        form.on('submit(editForm)', function (data) {
            var checkStatus = table.checkStatus('demo'); //test即为基础参数id对应的值
            var d = checkStatus.data;  //选中行数据..
            data.field.id = selectLineData.Id
            $.ajax({
                type: 'POST',
                url: '/admin/category/edit_ajax',
                data: data.field,
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                async: true,
                success: function (result, textStatus) {
                    if (result.code != 100) {
                        layer.msg(result.msg)
                    } else if (result.code == 100) {
                        layer.close(popIndex);
                        layer.msg(result.msg, {time: 1500}, function () {
                            grid.reload({
                                page: {
                                    curr: 1
                                }
                            });
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg('{{.AJAX_ERROR_TIPS_MESSAGE}}')
                }
            })
            return false;
        });


        $("#addBtn").on('click', function () {
            popIndex = layer.open({
                type: 1,
                skin: 'layui-layer-rim',
                area: ['600px', '300px'],
                content: getPopFormat('add')
            });
            form.render()
        });

        $(document).on('click', '#searchIcon', function () {
            var v = $("#searchInput").val();
            if (v == undefined || v == "") {
                v = ''
            }
            grid.reload({
                where: {
                    keyword: v
                }
                ,page: {
                    curr: 1
                }
            });
        })
    });

    function getPopFormat(flag, categoryName, categoryDescribe) {
        if (categoryName === undefined || categoryDescribe === undefined) {
            categoryName = '';categoryDescribe = '';
        }
        var appendStr = '';
        if (flag !== undefined && (flag == 'edit' || flag == 'add')) {
            appendStr = '  <div class="layui-form-item">\n' +
                    '    <div class="layui-input-block">\n' +
                    '      <button class="layui-btn" lay-submit lay-filter="'+flag+'Form">submit</button>\n' +
                    '      <button type="reset" class="layui-btn layui-btn-primary">reset</button>\n' +
                    '    </div>\n' +
                    '  </div>\n';
        }
        return '<form class="layui-form" style="padding: 15px"> \n' +
                '  <div class="layui-form-item">\n' +
                '    <label class="layui-form-label">categoryName</label>\n' +
                '    <div class="layui-input-block">\n' +
                '      <input type="text" name="categoryName" required lay-verify="required" placeholder="please input..." autocomplete="off" class="layui-input" value="'+categoryName+'">\n' +
                '    </div>\n' +
                '  </div>\n' +
                '  <div class="layui-form-item layui-form-text">\n' +
                '    <label class="layui-form-label">categoryDescribe</label>\n' +
                '    <div class="layui-input-block">\n' +
                '      <textarea placeholder="please input..." required lay-verify="required" name="categoryDescription" style="resize: none" class="layui-textarea">'+categoryDescribe+'</textarea>\n' +
                '    </div>\n' +
                '  </div>\n' +
                appendStr+
                '</form>'
    }
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</body>
</html>