<!DOCTYPE html>
<html lang="en">
{{template "admin_head_block.tmpl" .}}
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
{{template "admin_header_block.tmpl" .}}
{{template "admin_side_block.tmpl" .}}
    <div class="layui-body">
        <div style="padding: 15px;">
            <div>
                <span>当前文章数: {{.Article}}个</span>
            </div>
            <div>
                <span>当前分类数: {{.Category}}个</span>
            </div>
            <div>
                <span>当前评论数：{{.Comment}}个</span>
            </div>
        </div>
    </div>
    {{template "admin_footer_block.tmpl" .}}
</div>
<script src="/resource/plugins/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    let $;
    let layer;
    layui.use(['layer'], function () {
        $ = layui.jquery;
        layer = layui.layer;
    });

    let logout = function () {
        //弹出confirm窗口
        layer.confirm('{{.ConfirmLogoutTips}}？', {
            btn: ['确定', '取消'], title: '退出确认', anim: 1, area: ['500px', '300px'] //按钮
        }, function () {
            $.ajax({
                type: 'POST',
                url: '/admin/logout_ajax',
                data: {},
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                async: true,
                success: function (result, textStatus) {
                    if (result.code != 100) {
                        layer.msg(result.msg)
                    } else if (result.code == 100) {
                        layer.msg(result.msg);
                        setTimeout(function () {
                            window.location.href = result.data;
                        }, 1000)
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg('{{.AjaxErrorMsg}}')
                }
            })
        });
    };
</script>
</body>
</html>